<form class="synthicide-action-roll-form">
  <fieldset class="roll-general">
    <legend>{{localize "SYNTHICIDE.Roll.Dialog.General"}}</legend>
    {{#if allowSubtypeChange}}
      
      <div class="form-group">
        <label>{{localize "SYNTHICIDE.Roll.Dialog.RollType"}}</label>
        <select name="subtype">
          {{selectOptions subtypeOptions localize=true}}
        </select>
      </div>
    {{else}}
      <input type="hidden" name="subtype" value="{{defaultSubtype}}" />
    {{/if}}

    <div class="form-group">
      <label>{{localize "SYNTHICIDE.Roll.Dialog.MessageType.Label"}}</label>
      <select name="messageMode">
        {{selectOptions messageModeOptions selected=messageModeSelected labelAttr="label" localize=true}}
      </select>
    </div>

    <div class="form-group">
      <label>{{localize "SYNTHICIDE.Roll.Dialog.Attribute"}}</label>
      {{#if lockAttribute}}
        <input type="hidden" name="attribute" value="{{attributeKey}}" />
        <select disabled>
          {{selectOptions attributeOptions selected=attributeSelected localize=true}}
        </select>
      {{else}}
        <select name="attribute">
          {{selectOptions attributeOptions selected=attributeSelected localize=true}}
        </select>
      {{/if}}
    </div>

    {{#if showDifficulty}}
      <div class="form-group">
        <label>{{localize "SYNTHICIDE.Roll.Dialog.Difficulty"}}</label>
        <select name="difficulty">
          {{selectOptions difficultyOptions selected=difficultySelected labelAttr="label" localize=true}}
        </select>
      </div>
    {{else}}
      <input type="hidden" name="difficulty" value="{{difficultySelected}}" />
    {{/if}}
  </fieldset>

  <fieldset class="roll-modifiers">
    <legend>{{localize "SYNTHICIDE.Roll.Dialog.RollModifiers"}}</legend>
    <div class="form-group">
      <label>{{localize "SYNTHICIDE.Roll.Dialog.MiscModifier"}}</label>
      <input type="number" name="misc" value="{{defaultMisc}}" step="1" />
    </div>

    <div class="form-group roll-modifiers-total-row">
      <label>{{localize "SYNTHICIDE.Roll.Dialog.RollModifiers"}}</label>
      <input type="text" value="{{rollModifierTotalDisplay}}" readonly />
    </div>

    {{#if rollModifiers.length}}
      <div class="roll-modifier-list">
        <ul>
          {{#each rollModifiers as |modifier|}}
            <li>
              <span class="modifier-key">{{modifier.label}}</span>
              <span class="modifier-value">{{modifier.valueDisplay}}</span>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </fieldset>

  {{#if isAttack}}
    <fieldset class="roll-attack">
      <legend>{{localize "SYNTHICIDE.Roll.Dialog.AttackSection"}}</legend>

      <div class="form-group">
        <label>{{localize "SYNTHICIDE.Roll.Dialog.TargetArmor"}}</label>
        <input type="number" name="armor" value="{{defaultArmor}}" step="1" />
      </div>

      <div class="form-group">
        <label>{{localize "SYNTHICIDE.Roll.Dialog.AttackBonus"}}</label>
        <input type="number" name="attackBonus" value="{{defaultAttackBonus}}" step="1" />
      </div>

      <div class="form-group">
        <label>{{localize "SYNTHICIDE.Roll.Dialog.DamageBonus"}}</label>
        <input type="number" name="damageBonus" value="{{defaultDamageBonus}}" step="1" />
      </div>

      <div class="form-group">
        <label>{{localize "SYNTHICIDE.Roll.Dialog.RangeModifier"}}</label>
        <input type="number" name="rangeModifier" value="{{defaultRangeModifier}}" step="1" />
      </div>

      <div class="form-group">
        <label class="shield-bonus-label">{{localize "SYNTHICIDE.Roll.Dialog.ShieldBonus"}}</label>
        <div class="field-stack">
          <input type="number" name="shieldBonus" value="{{defaultShieldBonus}}" step="1" />
          <p class="notes">{{localize shieldBonusHintKey}}</p>
        </div>
      </div>
    </fieldset>
  {{/if}}
</form>
