{{! Abilities Tab for aspects (simple vertical list) }}
<section
  class='tab abilities {{tab.cssClass}}'
  data-group='primary'
  data-tab='abilities'
>
  <div class='ability-add'>
    <button type='button' data-action='addAbility'>
      <i class='fas fa-plus'></i>
      {{localize 'SYNTHICIDE.Item.Aspect.AddAbility'}}
    </button>
  </div>

  <ul class='ability-list'>
    {{#if system.abilities.length}}
      {{#each system.abilities as |ability i|}}
        <li class='ability-row'>
          <textarea name='system.abilities.{{i}}.description' rows='4'>{{~ability.description~}}</textarea>
          <button type='button' class='ability-remove' data-action='removeAbility' data-index='{{i}}'>
            <i class='fas fa-trash'></i>
          </button>
        </li>
      {{/each}}
    {{else}}
      <li><em>{{localize 'SYNTHICIDE.Item.Aspect.NoAbilities'}}</em></li>
    {{/if}}
  </ul>
</section>