{{! Attributes Tab }}
<section
  class='tab attributes scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  <div class='attributes-layout'>
    <div class='attributes-panel'>
      <table class="attributes-table" role="table" aria-label="Attributes">
        <colgroup>
          <col class="col-icon">
          <col class="col-base">
          <col class="col-modifier">
          <col class="col-increase">
          <col class="col-current">
        </colgroup>
        <thead>
          <tr>
            <th class="attributes-col-header" style="margin: 0; padding: 0;" scope="col"><h4 style="margin: 0; padding: 22px;"></h4></th>
            <th class="attributes-col-header" scope="col">{{localize 'SYNTHICIDE.Actor.Attributes.Base'}}</th>
            <th class="attributes-col-header" scope="col">{{localize 'SYNTHICIDE.Actor.Attributes.Modifier'}}</th>
            <th class="attributes-col-header" scope="col">{{localize 'SYNTHICIDE.Actor.Attributes.LevelIncrease'}}</th>
            <th class="attributes-col-header" scope="col">{{localize 'SYNTHICIDE.Actor.Attributes.Current'}}</th>
          </tr>
        </thead>
        <tbody>
        {{#each system.attributes as |attribute key|}}
          <tr>
            <td class="attribute-label">
              <span class="attr-abbr" data-tooltip="{{localize (lookup @root.SYNTHICIDE.attributes key)}}">{{localize (lookup @root.SYNTHICIDE.attributeAbbreviations key)}}</span>
              <span
                class="rollable"
                data-action="roll"
                data-roll-type="challenge"
                data-attribute-key="{{key}}"
                data-roll="d10+@attributes.{{key}}.value"
                data-label="{{localize (lookup @root.SYNTHICIDE.attributes key)}}"
                tabindex="0"
                role="button"
                data-tooltip="{{localize (lookup @root.SYNTHICIDE.attributes key)}}"
              >
                <img class="actions-img" src="{{concat '/systems/synthicide/assets/icons/attributes/' key '.png'}}">
              </span>
            </td>
            <td class="attribute-input">
              <input type="number" name="system.attributes.{{key}}.base" value="{{attribute.base}}" class="attribute-score" data-dtype="Number" max="5" step="1">
            </td>
            <td class="attribute-input">
              <input disabled type="number" name="system.attributes.{{key}}.modifier" value="{{attribute.modifier}}" class="attribute-score" data-dtype="Number" step="1">
            </td>
            <td class="attribute-input">
              <div class="attribute-stepper" data-attribute-key="{{key}}">
                <div class="attribute-block-meter-grid" aria-label="{{localize (lookup @root.SYNTHICIDE.attributes key)}} increase {{attribute.increase}} of 5">
                  {{#each attribute.increaseSegments}}
                    <div class="segment{{#if this}} filled{{/if}}"></div>
                  {{/each}}
                </div>
                <input type="number" name="system.attributes.{{key}}.increase" value="{{attribute.increase}}" class="attribute-score" data-dtype="Number" min="0" max="5" step="1">
                <div class="attribute-step-buttons">
                  <button type="button" class="attribute-step-btn" data-action="increaseAttribute" data-attribute-key="{{key}}" aria-label="Increase {{localize (lookup @root.SYNTHICIDE.attributes key)}}">+</button>
                  <button type="button" class="attribute-step-btn" data-action="decreaseAttribute" data-attribute-key="{{key}}" aria-label="Decrease {{localize (lookup @root.SYNTHICIDE.attributes key)}}">-</button>
                </div>
              </div>
            </td>
            <td class="attribute-value">
              <input disabled type="text" name="system.attributes.{{key}}.value" value="{{numberFormat attribute.value decimals=0 sign=true}}" class="attribute-score" data-dtype="Number" step="1">
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>

    <div class='attributes-derived'>
      {{! Derived stats, secondary data, etc. will go here }}
      <!-- Action Points Resource -->
      <h4>{{localize "SYNTHICIDE.Actor.base.FIELDS.DerivedValues"}}</h4>
      <div class="derived-list">
        <div class='resource flex-group-center header-resource'>
          <label for='system.actionPoints.value' class='resource-label'>
            {{localize 'SYNTHICIDE.Actor.base.FIELDS.actionPoints.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between '>
            <input
              type='number'
              name='system.actionPoints.value'
              value='{{system.actionPoints.value}}'
              data-dtype='Number'
              disabled
            />
          </div>
        </div>

        <div class='resource flex-group-center header-resource'>
          <label for='system.battleReflex.value' class='resource-label'>
            {{localize 'SYNTHICIDE.Actor.base.FIELDS.battleReflex.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between '>
            <input
              type='number'
              name='system.battleReflex.value'
              value='{{system.battleReflex.value}}'
              data-dtype='Number'
              disabled
            />
          </div>
        </div>

        <div class='resource flex-group-center header-resource'>
          <label for='system.toughnessDefense.value' class='resource-label'>
            {{localize 'SYNTHICIDE.Actor.base.FIELDS.toughnessDefense.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between '>
            <input
              type='number'
              name='system.toughnessDefense.value'
              value='{{system.toughnessDefense.value}}'
              data-dtype='Number'
              disabled
            />
          </div>
        </div>

        <div class='resource flex-group-center header-resource'>
          <label for='system.armorDefense.value' class='resource-label'>
            {{localize 'SYNTHICIDE.Actor.base.FIELDS.armorDefense.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between '>
            <input
              type='number'
              name='system.armorDefense.value'
              value='{{system.armorDefense.value}}'
              data-dtype='Number'
              disabled
            />
          </div>
        </div>

        <div class='resource flex-group-center header-resource'>
          <label for='system.shockThreshold.value' class='resource-label'>
            {{localize 'SYNTHICIDE.Actor.base.FIELDS.shockThreshold.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between '>
            <input
              type='number'
              name='system.shockThreshold.value'
              value='{{system.shockThreshold.value}}'
              data-dtype='Number'
              disabled
            />
          </div>
        </div>

        <div class='resource flex-group-center header-resource'>
          <label for='system.nerveDefense.value' class='resource-label'>
            {{localize 'SYNTHICIDE.Actor.base.FIELDS.nerveDefense.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between '>
            <input
              type='number'
              name='system.nerveDefense.value'
              value='{{system.nerveDefense.value}}'
              data-dtype='Number'
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>