{{! Cybernetics Tab }}
<section
  class='tab cybernetics scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='cybernetics'
>
  {{#if bioclass}}
    <ol class='items-list'>
      <li class='item flexrow items-header' data-item-id='{{bioclass._id}}' data-document-class='Item'>
        <div class='item-name'>{{localize 'TYPES.Item.bioclass'}}: {{bioclass.name}} ({{localize bioclass.system.bioclassTypeLabel}})</div>
        <div class='item-controls'>
          {{!-- info icon now has an action to show the description dialog --}}
          <a class='item-control item-info' data-action='showInfo' data-tooltip='{{{bioclass.system.description}}}'>
            <i class='fas fa-info-circle'></i>
          </a>
        </div>
      </li>
    </ol>
    <div class="grid-2col">
    <fieldset class="cybernetics">
      <legend>{{localize 'SYNTHICIDE.Item.Bioclass.Body'}}</legend>
        <div class="grid-2col">
          <div class='resource flex-group-center'>
            <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.Type'}}</label>
            <div>{{localize bioclass.system.bodyType}}</div>
          </div>
          <div class='resource flex-group-center'>
            <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.Slots.label'}}</label>
            <div>{{bioclass.system.bodySlots}}</div>
          </div>
        </div>
    </fieldset>
    <fieldset class="cybernetics">
      <legend>{{localize 'SYNTHICIDE.Item.Bioclass.Brain'}}</legend>
      <div class="grid-2col">
        <div class='resource flex-group-center'>
          <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.Type'}}</label>
          <div>{{localize bioclass.system.brainType}}</div>
        </div>

        <div class='resource flex-group-center'>
          <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.Slots.label'}}</label>
          <div>{{bioclass.system.brainSlots}}</div>
        </div>
      </div>
    </fieldset>
  </div>
  {{else}}
    <p>{{localize 'SYNTHICIDE.Actor.Bioclass.NoneAssigned'}}</p>
  {{/if}}
</section>
