{{! Features Tab }}
<section
  class='tab features scrollable {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
  <section class='grid grid-5col'>
    <aside class='sidebar grid-span-2'>
      <div class="attributes-table">
        <div class="attributes-header">{{localize 'SYNTHICIDE.Actor.Features.Actions'}}</div>
        <div class="attributes-header">{{localize 'SYNTHICIDE.Actor.Features.LevelIncrease'}}</div>
        <div class="attributes-header">{{localize 'SYNTHICIDE.Actor.Features.Current'}}</div>
        {{#each system.attributes as |attribute key|}}
          <div class="attribute-label">
            {{localize (lookup @root.SYNTHICIDE.attributeAbbreviations key)}}
            <span
              class="rollable"
              data-action="roll"
              data-roll="d10+@attributes.{{key}}.current"
              data-label="{{localize (lookup @root.SYNTHICIDE.attributes key)}}"
              tabindex="0"
              role="button"
              data-tooltip="{{localize (lookup @root.SYNTHICIDE.attributes key)}}"
            >
            <img class = "actions-img" src=" {{concat '/systems/synthicide/assets/' key '.png'}}">
            </span>
            
          </div>
          <div class="attribute-input">
            <div class="attribute-stepper" data-attribute-key="{{key}}">
              <div class="attribute-block-meter" style="--level: {{attribute.increase}};" aria-label="{{localize (lookup @root.SYNTHICIDE.attributes key)}} increase {{attribute.increase}} of 5">
                <div class="attribute-block-fill" style="height: calc({{attribute.increase}} * 20%);"></div>
              </div>
              <input type="number" name="system.attributes.{{key}}.increase" value="{{attribute.increase}}" class="attribute-score" data-dtype="Number" min="0" max="5" step="1">
              <div class="attribute-step-buttons">
                <button type="button" class="attribute-step-btn" data-action="increaseAttribute" data-attribute-key="{{key}}" aria-label="Increase {{localize (lookup @root.SYNTHICIDE.attributes key)}}">+</button>
                <button type="button" class="attribute-step-btn" data-action="decreaseAttribute" data-attribute-key="{{key}}" aria-label="Decrease {{localize (lookup @root.SYNTHICIDE.attributes key)}}">-</button>
              </div>
            </div>
          </div>
          <div class="attribute-current">{{numberFormat attribute.current decimals=0 sign=true}}</div>
        {{/each}}
      </div>
    </aside>

    {{! For the main features list, span the right two columns }}
    <section class='main grid-span-3'>
      <!-- Features area intentionally left blank for future use -->
    </section>
  </section>
</section>