{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    data-tooltip='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='Name'
      />
    </div>
    {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  }}
    <div class='resources header-resource-grid'>

      {{! "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. }}
      <div class='resource flex-group-center header-resource'>
        <label for='system.hitPoints.value' class='resource-label'>
          {{localize 'SYNTHICIDE.Actor.base.FIELDS.hitPoints.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between resource-pair'>
          <input
            type='text'
            name='system.hitPoints.value'
            value='{{system.hitPoints.value}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.hitPoints.max'
            value='{{system.hitPoints.max}}'
            data-dtype='Number'
            disabled
          />
        </div>
      </div>

      <div class='resource flex-group-center header-resource'>
        <label for='system.power.value' class='resource-label'>
          {{localize 'SYNTHICIDE.Actor.base.FIELDS.power.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between resource-pair'>
          <input
            type='text'
            name='system.power.value'
            value='{{system.power.value}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.power.max'
            value='{{system.power.max}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center header-resource'>
        {{#if (eq actor.type 'sharper')}}
          <label class='resource-label'>
            {{localize 'SYNTHICIDE.Actor.Character.FIELDS.level.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between resource-single'>
            <input
              type='text'
              name='system.level.value'
              value='{{system.level.value}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
        {{#if (eq actor.type 'npc')}}
          <label class='resource-label'>
            {{localize 'SYNTHICIDE.Actor.NPC.FIELDS.cr.label'}} / {{localize 'SYNTHICIDE.Actor.NPC.xp.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between resource-pair'>
            <input
              type='text'
              name='system.cr'
              value='{{system.cr}}'
              data-dtype='Number'
            />
            <span></span>
            <input
              type='text'
              disabled='true'
              name='system.xp'
              value='{{system.xp}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
      </div>

      <div class='resource flex-group-center header-resource'>
        <label class='resource-label'>
          {{localize 'SYNTHICIDE.Actor.base.FIELDS.cynicism.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between resource-counter'>
          <div class='resource-stepper' data-counter-key='cynicism'>
            {{#if @root.editable}}
              <button
                type='button'
                class='resource-step-btn'
                data-action='decreaseCynicism'
                aria-label='Decrease cynicism'
              >-</button>
            {{/if}}
            <input
              type='number'
              name='system.cynicism'
              value='{{system.cynicism}}'
              data-dtype='Number'
              min='0'
              max='10'
              step='1'
            />
            {{#if @root.editable}}
              <button
                type='button'
                class='resource-step-btn'
                data-action='increaseCynicism'
                aria-label='Increase cynicism'
              >+</button>
            {{/if}}
          </div>
        </div>
        <div class='resource-track resource-track-cynicism'>
          <div class='resource-track-fill' style='width: calc(({{system.cynicism}} / 10) * 100%);'></div>
        </div>
      </div>

      <div class='resource flex-group-center header-resource'>
        <label class='resource-label'>
          {{localize 'SYNTHICIDE.Actor.base.FIELDS.resolve.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between resource-counter'>
          <div class='resource-stepper' data-counter-key='resolve'>
            {{#if @root.editable}}
              <button
                type='button'
                class='resource-step-btn'
                data-action='decreaseResolve'
                aria-label='Decrease resolve'
              >-</button>
            {{/if}}
            <input
              type='number'
              name='system.resolve'
              value='{{system.resolve}}'
              data-dtype='Number'
              min='0'
              max='5'
              step='1'
            />
            {{#if @root.editable}}
              <button
                type='button'
                class='resource-step-btn'
                data-action='increaseResolve'
                aria-label='Increase resolve'
              >+</button>
            {{/if}}
          </div>
        </div>
        <div class='resource-track resource-track-resolve'>
          <div class='resource-track-fill' style='width: calc(({{system.resolve}} / 5) * 100%);'></div>
        </div>
      </div>
    </div>
  </div>
</header>