{{log this}}
<div class="synthicide actor npc npc-compact-sheet">
  <header class="npc-compact-header">
    <h1>
      <input name="name" value="{{actor.name}}" placeholder="{{localize 'SYNTHICIDE.Actor.NPC.UI.Name'}}" />
    </h1>
    <div class="sheet-header-fields">
      <span class="header-resource">
        <div class="header-info-label resource-label"><b>{{localize 'SYNTHICIDE.Actor.Header.Level'}}</b></div>
        <input
            id='system.level.value'
            type='number'
            name='system.level.value'
            value='{{system.level.value}}'
            class='header-info-level-input'
            min='1'
            max='11'
        />
      </span>
      <span class="header-resource">
        <div class="header-info-label resource-label"><b>{{localize 'SYNTHICIDE.Actor.Header.Bioclass'}}</b></div>
        <div class="header-info-value bioclass-value">
          {{#if @root.bioclass}}
            <span class="bioclass-box" data-item-id="{{@root.bioclass.id}}">
              <span class="bioclass-name">{{@root.bioclass.name}}</span>
              <button type="button" class="icon-button" data-action="viewDoc" data-document-class="Item" data-tooltip="Edit">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="icon-button" data-action="deleteDoc" data-document-class="Item" data-tooltip="Remove">
                <i class="fas fa-trash"></i>
              </button>
            </span>
          {{else}}
            <span class="bioclass-drop-zone">
              <span class="bioclass-empty-hint">{{localize 'SYNTHICIDE.Actor.NPC.DropBioclassHint'}}</span>
            </span>
          {{/if}}
        </div>
      </span>
      <span class="header-resource">
        <b class="header-info-label resource-label">{{localize 'SYNTHICIDE.Actor.NPC.UI.BossQuestion'}}</b> 
        <div class='resource-content flexrow flex-center flex-between resource-counter'>
          <label>
            <input type='checkbox' name='system.boss' {{checked system.boss}} />
          </label>
        </div>
      </span>
      <div class="header-resource npc-hp-align">
        <span class="resource-label one-word-per-line">{{localize 'SYNTHICIDE.Actor.base.FIELDS.hitPoints.value.label'}}</span>
        <div class = "resource resource-pair">
          <input type="number" name="system.hitPoints.value" value="{{system.hitPoints.value}}" max="{{system.hitPoints.max}}" min="0"/> / <input type="number" name="system.hitPoints.max" value="{{system.hitPoints.max}}" disabled/> 
        </div>
      </div>
      {{#if (gt system.armorValues.forceBarrier.max 0)}}
        <!-- Force Barrier Resource -->
        <div class='resource flex-group-center header-resource'>
          <label for='system.armorValues.forceBarrier.value' class='resource-label'>
            {{localize 'SYNTHICIDE.Actor.Combat.armorValues.ForceBarrier'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between resource-pair'>
            <input
              type='number'
              name='system.armorValues.forceBarrier.value'
              value='{{system.armorValues.forceBarrier.value}}'
              data-dtype='Number'
              min='0'
              max='{{system.armorValues.forceBarrier.max}}'
            />
            <span> / </span>
            <input
              type='number'
              name='system.armorValues.forceBarrier.max'
              value='{{system.armorValues.forceBarrier.max}}'
              data-dtype='Number'
              min='0'
            />
          </div>
          <div class='resource-track resource-track-empty'></div>
        </div>
      {{/if}}
    </div>
  </header>
  <section class="npc-compact-attributes">
    <label class='resource-label'>{{localize 'SYNTHICIDE.Actor.Attributes.label'}}</label>
    <div class="npc-compact-attributes-list">
      {{#each system.attributes as |attr key|}}
        <div class="header-resource npc-attr">
          <div class="rollable"
            data-action='roll'
            data-roll-type='challenge'
            data-attribute-key='{{key}}'
            data-roll='d10+@attributes.{{key}}.value'
            data-label='{{localize (lookup @root.SYNTHICIDE.attributes key)}}'
          >
            {{localize (lookup @root.configAttributes key)}}
            <i class="window-icon synthicide-window-icon" inert=""><img src="systems/synthicide/assets/synthicidePause.svg" alt="roll"></i>
          </div>
          <input 
            type="number" 
            name="system.attributes.{{key}}.value" 
            value="{{attr.value}}"
            disabled/>
        </div>
      {{/each}}
    </div>
  </section>
  <section class="npc-compact-row">
    <label class='resource-label'>{{localize 'SYNTHICIDE.Actor.base.FIELDS.DerivedValues'}}</label>
    <div class="npc-compact-attributes-list">
      <div class="header-resource npc-der">
        <span class="one-word-per-line"> {{localize 'SYNTHICIDE.Actor.base.FIELDS.nerveDefense.value.label'}}</span>
        <input type="number" name="system.nerveDefense.value" value="{{system.nerveDefense.value}}" disabled/>
      </div>
      <div class="header-resource npc-der">
        <span class="one-word-per-line"> {{localize 'SYNTHICIDE.Actor.base.FIELDS.toughnessDefense.value.label'}}</span>
        <input type="number" name="system.toughnessDefense.value" value="{{system.toughnessDefense.value}}" disabled/>
      </div>
      <div class="header-resource npc-der">
        <span class="one-word-per-line"> {{localize 'SYNTHICIDE.Actor.base.FIELDS.armorDefense.value.label'}}</span>
        <input type="number" name="system.armorDefense.value" value="{{system.armorDefense.value}}" disabled/>
      </div>
      <div class="header-resource npc-der">
        <span class="one-word-per-line"> {{localize 'SYNTHICIDE.Actor.base.FIELDS.shockThreshold.value.label'}}</span>
        <input type="number" name="system.shockThreshold.value" value="{{system.shockThreshold.value}}" disabled/>
      </div>
      
      <div class="header-resource npc-der">
        <span class="one-word-per-line"> {{localize 'SYNTHICIDE.Actor.base.FIELDS.actionPoints.value.label'}}</span> 
        <input type="number" name="system.actionPoints.value" value="{{system.actionPoints.value}}" disabled/>
      </div>
      <div class="header-resource npc-der">
        <span class="one-word-per-line"> {{localize 'SYNTHICIDE.Actor.base.FIELDS.battleReflex.value.label'}} </span>
        <input type="number" name="system.battleReflex.value" value="{{system.battleReflex.value}}" disabled/>
      </div>
    </div>
  </section>
  <section class="npc-compact-attack">
    <label class='resource-label'>{{localize 'SYNTHICIDE.Actor.NPC.UI.Weapon'}}</label>
    <div class="npc-compact-select-attack">
      <select name='system.selectedWeaponId' class="selected-attack-weapon">
        <option value="">{{localize 'SYNTHICIDE.Actor.NPC.UI.NoWeaponSelected'}}</option>
        {{selectOptions @root.config.npcWeaponOptions selected=selectedWeaponId localize=false}}
      </select>
      {{#if selectedWeapon}}
        <span>{{localize 'SYNTHICIDE.Actor.NPC.UI.BaseAttDmg'}}: {{selectedWeaponTier.attack}} / {{selectedWeaponTier.damage}} </span>
        <span>{{localize 'SYNTHICIDE.Actor.NPC.UI.Lethal'}}: {{selectedWeaponTier.lethal}}</span>
        <span>{{localize 'SYNTHICIDE.Actor.NPC.UI.TotalAttDmg'}}: {{selectedWeapon.system.bonuses.attack}} / {{selectedWeapon.system.bonuses.damage}}</span>
        {{#if selectedWeapon.system.masteredWeapon}}<i class="fa-solid fa-star" data-tooltip='{{localize "SYNTHICIDE.Actor.NPC.UI.MasterBadgeTooltip"}}'></i>{{/if}}
        {{#if selectedWeapon.system.ability}}<span>{{localize 'SYNTHICIDE.Actor.NPC.UI.Ability'}}: {{selectedWeapon.system.ability}}</span>{{/if}}
        <span>{{localize 'SYNTHICIDE.Actor.NPC.UI.Range'}}: {{selectedWeapon.system.rangeIncrement}}</span>
      {{else}}
        <span>{{localize 'SYNTHICIDE.Actor.NPC.UI.NoWeaponSelected'}}</span>
      {{/if}}
      <div class='npc-attack-action'>
        <button
          type='button'
          class='rollable synthicide-roll-button'
          data-action='selectedAttackRoll'
          data-tooltip='{{localize "SYNTHICIDE.Actor.NPC.UI.RollAttackTooltip"}}'
        >
          {{localize 'SYNTHICIDE.Actor.NPC.UI.RollAttack'}}<i class="window-icon synthicide-window-icon" inert=""><img src="systems/synthicide/assets/synthicidePause.svg" alt="roll"></i>
        </button>
      </div>
    </div>
  </section>
  <section class="npc-compact-powers">
    <label><b>{{localize 'SYNTHICIDE.Actor.NPC.UI.UniquePower'}}</b></label>
    <span>{{system.uniquePower}}</span>
    {{#if system.boss}}
      <label><b>{{localize 'SYNTHICIDE.Actor.NPC.UI.BossPower'}}</b></label>
      <span>{{system.bossPower}}</span>
    {{/if}}
  </section>
  <section class="npc-compact-loot">
    <label><b class="header-info-label resource-label">{{localize 'SYNTHICIDE.Actor.NPC.UI.Loot'}}</b></label>
    <span>{{system.loot}}</span>
  </section>
  <section class="npc-compact-notes">
    <label><b class="header-info-label resource-label">{{localize 'SYNTHICIDE.Actor.NPC.UI.Notes'}}</b></label>
    <textarea name="system.notes">{{system.notes}}</textarea>
  </section>
</div>
