{{! Cybernetics Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='cybernetics'
>
  <div class='grid grid-2col'>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.BodyType'}}:</label>
      <select name='system.bodyType'>
        {{selectOptions SYNTHICIDE.bodyBrainTypes selected=system.bodyType localize=true}}
      </select>
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.BrainType'}}:</label>
      <select name='system.brainType'>
        {{selectOptions SYNTHICIDE.bodyBrainTypes selected=system.brainType localize=true}}
      </select>
    </div>
  </div>

  <div class='grid grid-2col'>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.bodySlots.label'}}</label>
      <input type='number' name='system.bodySlots' value='{{system.bodySlots}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.brainSlots.label'}}</label>
      <input type='number' name='system.brainSlots' value='{{system.brainSlots}}' data-dtype='Number' />
    </div>
  </div>

</section>
