{{! Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  <div class='grid grid-3col'>
    
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.startingAttributes.awareness.label'}}</label>
      <input type='number' name='system.startingAttributes.awareness' value='{{system.startingAttributes.awareness}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.startingAttributes.combat.label'}}</label>
      <input type='number' name='system.startingAttributes.combat' value='{{system.startingAttributes.combat}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.startingAttributes.toughness.label'}}</label>
      <input type='number' name='system.startingAttributes.toughness' value='{{system.startingAttributes.toughness}}' data-dtype='Number' />
    </div>
     <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.startingAttributes.influence.label'}}</label>
      <input type='number' name='system.startingAttributes.influence' value='{{system.startingAttributes.influence}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.startingAttributes.operation.label'}}</label>
      <input type='number' name='system.startingAttributes.operation' value='{{system.startingAttributes.operation}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.startingAttributes.nerve.label'}}</label>
      <input type='number' name='system.startingAttributes.nerve' value='{{system.startingAttributes.nerve}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.startingAttributes.speed.label'}}</label>
      <input type='number' name='system.startingAttributes.speed' value='{{system.startingAttributes.speed}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.startingAttributes.hp.label'}}</label>
      <input type='number' name='system.startingAttributes.hp' value='{{system.startingAttributes.hp}}' data-dtype='Number' />
    </div>
    <div class='resource'>
      <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.startingAttributes.hpPerLevel.label'}}</label>
      <input type='number' name='system.startingAttributes.hpPerLevel' value='{{system.startingAttributes.hpPerLevel}}' data-dtype='Number' />
    </div>
  </div>
</section>
