{{! Traits Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='traits'
>
  <div class='bioclass-traits-top-row'>
    <div class='trait-add-row'>
      <button type='button' data-action='addTrait'>
        <i class='fas fa-plus'></i>
        {{localize 'SYNTHICIDE.Item.Bioclass.AddTrait'}}
      </button>
    </div>

    <div class='resource bioclass-toggle-inline'>
      <label class='resource-label' for='system.ignoreRoleWeakPenalty'>
        {{localize 'SYNTHICIDE.Item.Bioclass.FIELDS.ignoreRoleWeakPenalty.label'}}
      </label>
      <input
        id='system.ignoreRoleWeakPenalty'
        type='checkbox'
        name='system.ignoreRoleWeakPenalty'
        {{checked system.ignoreRoleWeakPenalty}}
        data-dtype='Boolean'
      />
    </div>
  </div>

  {{#if system.traits.length}}
    <div class='grid grid-1col'>
      {{#each system.traits as |trait i|}}
        <fieldset class='resource'>
          <div class='trait-card-header'>
            <div class='trait-card-name'>
              <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.TraitName'}}</label>
              <input type='text' name='system.traits.{{i}}.name' value='{{trait.name}}' />
            </div>
            <div class='trait-card-actions'>
              <button type='button' data-action='removeTrait' data-index='{{i}}'>
                <i class='fas fa-trash'></i>
              </button>
            </div>
          </div>
          <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Bioclass.TraitDescription'}}</label>
          <input type='hidden' name='system.traits.{{i}}.sort' value='{{trait.sort}}' data-dtype='Number' />
          <textarea name='system.traits.{{i}}.description' rows='4'>{{trait.description}}</textarea>
        </fieldset>
      {{/each}}
    </div>
  {{/if}}
</section>
