{{! Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  <div class="modifiers-table">
    <div class="modifiers-header">{{localize 'SYNTHICIDE.Item.Feature.Attribute'}}</div>
    <div class="modifiers-header">{{localize 'SYNTHICIDE.Item.Modifier.Header.Formula'}}</div>
    <div class="modifiers-header">{{localize 'SYNTHICIDE.Item.Modifier.Header.Stacking'}}</div>
    {{!-- Condition and Source hidden in attributes UI to prioritize formula input space --}}
    <div class="modifiers-header"><button type="button" class="modifiers-add" data-action="addModifier" data-tooltip="SYNTHICIDE.Item.Feature.AddFeature"><i class="fas fa-plus"></i></button></div>
    {{#if system.modifiers.length}}
      {{#each system.modifiers as |mod i|}}
        <div class='modifiers-cell'>
          <select name="system.modifiers.{{i}}.target">
            {{selectOptions @root.SYNTHICIDE.MODIFIER_TARGETS selected=mod.target localize=true}}
          </select>
        </div>
        <div class='modifiers-cell'>
          <input type="text" name="system.modifiers.{{i}}.formula" value="{{mod.formula}}" placeholder="+0 or 2*@level"/>
        </div>
        {{!-- context removed: modifiers are always actor-scoped and evaluated during actor preparation --}}
        <div class='modifiers-cell'>
          <select name="system.modifiers.{{i}}.stacking">
            {{selectOptions @root.SYNTHICIDE.MODIFIER_STACKING selected=mod.stacking localize=true}}
          </select>
        </div>
        {{!-- condition and source fields intentionally omitted from attribute UI to save space --}}
        <div class='modifiers-cell modifiers-cell-action'>
          <a class="modifiers-remove" data-action="removeModifier" data-index="{{i}}" title="Remove Modifier"><i class="fas fa-trash"></i></a>
        </div>
      {{/each}}
    {{/if}}
  </div>
  
</section>