<div class="armor-group">
  <fieldset class ="armor">
    <legend>{{localize 'SYNTHICIDE.Item.Armor.FIELDS.Protection'}}</legend>
    <div class='trait-top-fields'>
      <div class='resource resource-pair'>
        <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Armor.FIELDS.armorBonus'}}</label>
        <input
          type='text'
          name='system.armorBonus'
          value='{{system.armorBonus}}'
        />
      </div>
      <div class='resource resource-pair'>
        <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Armor.FIELDS.stBonus'}}</label>
        <input
          type='text'
          name='system.stBonus'
          value='{{system.stBonus}}'
        />
      </div>
      <div class='resource resource-pair'>
        <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Armor.FIELDS.speedMax'}}</label>
        <input
          type='text'
          name='system.speedMax'
          value='{{system.speedMax}}'
        />
      </div>
    </div>
  </fieldset>

  <fieldset class ="armor">
    <legend>{{localize 'SYNTHICIDE.Item.Armor.FIELDS.ForceBarrier'}}</legend>
    <div class='trait-top-fields'>
      <div class='resource resource-pair'>
        <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Armor.FIELDS.forceBarrier.max.label'}}</label>
        <input
          type='text'
          name='system.forceBarrier.max'
          value='{{system.forceBarrier.max}}'
        />
      </div>
      <div class='resource resource-pair'>
        <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Armor.FIELDS.forceBarrier.recoveryRate.label'}}</label>
        <input
          type='text'
          name='system.forceBarrier.recoveryRate'
          value='{{system.forceBarrier.recoveryRate}}'
        />
      </div>
      <div class='resource resource-pair'>
        <label class='resource-label'>{{localize 'SYNTHICIDE.Item.Armor.FIELDS.forceBarrier.rechargeTime.label'}}</label>
        <input
          type='text'
          name='system.forceBarrier.rechargeTime'
          value='{{system.forceBarrier.rechargeTime}}'
        />
      </div>
    </div>
  </fieldset>
</div>