{{! Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='rollGear'
>
  {{! As you add new fields, add them in here! }}
  <div class='resource'>
    <span class='resource-label'>{{localize 'SYNTHICIDE.Item.Gear.FIELDS.rollFormula.label'}}:</span>
    <span>{{system.formula}}</span>
    <div class='grid grid-4col'>
      <div class='grid-span-1'>
        <span class='resource-label'>{{localize 'SYNTHICIDE.Item.Gear.FIELDS.numDice.label'}}</span>
        <input
          type='text'
          name='system.roll.diceNum'
          value='{{system.roll.diceNum}}'
          data-dtype='Number'
        />
      </div>
      <div class='grid-span-1'>
        <span class='resource-label'>{{localize 'SYNTHICIDE.Item.Gear.FIELDS.dieSize.label'}}</span>
        <input
          type='text'
          name='system.roll.diceSize'
          value='{{system.roll.diceSize}}'
          data-dtype='String'
        />
      </div>
      <div class='grid-span-2'>
        <span class='resource-label'>{{localize 'SYNTHICIDE.Item.Gear.FIELDS.rollMod.label'}}</span>
        <input
          type='text'
          name='system.roll.diceBonus'
          value='{{system.roll.diceBonus}}'
          data-dtype='String'
        />
      </div>
    </div>

  </div>
</section>