{{! General Tab }}
<section
  class='tab {{tab.cssClass}}'
  data-group='primary'
  data-tab='general'
>
  {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}

  {{!-- On traits show type/level above description --}}
  {{#if (eq item.type 'trait')}}
    {{> "systems/synthicide/templates/item/parts/general-traits.hbs"}}
  {{else if (eq item.type 'armor')}}
    {{> "systems/synthicide/templates/item/parts/general-armor.hbs"}}
  {{else if (eq item.type 'shield')}}
    {{> "systems/synthicide/templates/item/parts/general-shield.hbs"}}
  {{else if (eq item.type 'weapon')}}
    {{> "systems/synthicide/templates/item/parts/general-weapon.hbs"}}
  {{else if (eq item.type 'implant')}}
    {{> "systems/synthicide/templates/item/parts/general-implant.hbs"}}
  {{/if}}

</section>